.col-list{width: 100%;}
.col-item{width: 100%;padding: 0 10px;margin-bottom: 20px;}
.col-text-left{padding-right: 42px;}
.col-text-right .col{width: 100%;margin-left: 0;margin-top: 0;}
.col-text-right .col-item+.col-item {margin-top: 10px;}
.col-text-right .col-item{width: 100%;padding: 0;margin-bottom: 0;}
.col-box{padding: 22.4px 18px;border-radius: 6px;overflow: hidden;}
.col-numb-box {font-size: 24px;line-height: 1;font-weight: 700;color: var(--red);width: 60px;}
.col-text-box {font-size: 20px;line-height: 1.6;font-weight: 600;width: calc(100% - 60px);}
.col-btn{margin-top: 20px;}
.page-btn-link {font-size: 16px;line-height: 1.5;color: var(--red);padding: 12px 18px;}
.page-btn-link:hover{text-decoration: underline;}
.bg-red{background: rgba(228, 0, 42, 1); color: var(--white);}
.bg-light-red{background: rgba(228, 0, 42, 0.4); color: var(--white);}
.bg-pink{background:rgba(228, 0, 42, 0.1);}
.bg-red .col-numb-box {color: var(--white);}
.bg-light-red .col-numb-box {color: var(--white);}

@media (max-width:1199.98px){}
@media (max-width:991.98px){
    .col-text-left{padding-right: 1px;}
}
@media (max-width:767.98px){
    .col-text-right .bc-btn{margin-top: 60px;}
}
@media (max-width:575.98px){}