#header{background: var(--white);position: fixed;left: 0;top: 0;right: 0;padding: 0;z-index: 9999;transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;display: flex;align-items: center;}
.fixed #header{background: var(--white); box-shadow: 0 5px 8px rgba(0,0,0,0.1);}
.navbar{padding: 0; width: 100%; height: 88px;} 
.navbar-brand { width: 203px; padding: 0; margin: 0; position: relative; z-index: 999;}
.navbar-expand-xl .navbar-nav .nav-item{margin: 0 11px;}
.navbar-expand-xl .navbar-nav .nav-link{font-size:16px;line-height:43px;font-weight:400;color:#333;     padding: 16px 15px;margin:0;}
.navbar-expand-xl .navbar-nav .nav-item:hover .nav-link, .navbar-expand-xl .navbar-nav .nav-item.active .nav-link{color:var(--red);}
.dropdown-toggle::after{display:none;}
.navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow{display:none;}
.nav-inside{width: 100%;padding: 0;}
.header-right{margin-left: 15px;gap: 4px;margin-left: 7.5%;}
.nav-inside-content {padding: 30px 0 0;margin-top: auto;}
.header-page-link {color: var(--black);font-size: 14px;font-weight: 400;line-height: 24px;margin-right: 25px;}
.header-btn{font-size: 14px;padding:16.2px 17px}

@media only screen and (min-width: 1200px) {
.navbar-nav>li>.dropdown-menu { display: block !important; top: 100% !important; margin-top: 10px !important; opacity: 0; visibility: hidden; background: var(--red); color: var(--white);min-width: 180px; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); border: 0; border-radius: 0; transition: all 0.1s ease-in; -moz-transition: all 0.1s ease-in; -webkit-transition: all 0.1s ease-in; }
.dropdown:hover .dropdown-menu { opacity: 1; visibility: visible; margin-top: 0px !important; transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; }
.dropdown-item { color: var(--white); padding: 5px 15px;  font-weight: 400;}
.dropdown-item:focus, .dropdown-item:hover{color:#333; background: transparent;}
} 


@media (max-width:1199.98px){
.navbar{padding:0;width: 100%; height: 70px;}  
.navbar-toggler{width: 80px;height: 60px;border-radius: 0;cursor: pointer;text-decoration: none;padding: 0;border: 0;background: transparent;margin: 0;position: absolute;right: 20px;top: 50%;z-index: 999; transform: translateY(-50%);}
.navbar-toggler:not([class="collapsed"]),.navbar-toggler:not([class="collapsed"]):focus,.navbar-toggler:not([class="collapsed"]):hover {background: transparent;}
.navbar-toggler.collapsed,.navbar-toggler.collapsed:focus,.navbar-toggler.collapsed:hover {background: transparent;}
.navbar-toggler .navbar-toggler-icon {position: relative;display: inline-block;width: 20px;height: 1px;color: #243238;text-indent: -55px;margin-top: 0;background: transparent!important;transition: all .2s ease-out;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-ms-transition: all .2s ease-out;vertical-align: middle;}
.navbar-toggler .navbar-toggler-icon:before,.navbar-toggler .navbar-toggler-icon:after {content: '';width: 20px;height: 1px;background: var(--black);position: absolute;left: 0;transition: all .2s ease-out;}
.navbar-toggler.collapsed .navbar-toggler-icon {background: var(--black)!important;}
.navbar-toggler.collapsed .navbar-toggler-icon:before,.navbar-toggler.collapsed .navbar-toggler-icon:after {background: var(--black);}
.navbar-toggler.collapsed .navbar-toggler-icon:before {top: -7px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .navbar-toggler-icon:before { top: 0; -webkit-transform: rotateZ(45deg); -moz-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); -o-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.navbar-toggler.collapsed .navbar-toggler-icon:after {bottom: -7px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .navbar-toggler-icon:after { bottom: 0; -webkit-transform: rotateZ(-45deg); -moz-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); -o-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }
.navbar-toggler[aria-expanded="true"] .nav-text-menu{display: none;}
.navbar-toggler[aria-expanded="false"] .nav-text-close{display: none;}
.nav-text{position: absolute;top: 50%;transform: translateY(-50%);right: 0;}
.nav-text-menu,.nav-text-close{font-size: 17px;margin-left: 12px;}
.header-right{position: relative;z-index: 999;margin-right: 100px;margin-left: 0;}
.navbar-collapse, .navbar-collapse.collapsing{position:fixed;top: 70px;left: 0;background: var(--white);padding: 0;z-index:99;margin:0;border:0;overflow-y:auto;bottom: 0;width: 100%;height:0;display: block !important;transition: all .3s cubic-bezier(0.77,0.2,0.05,1.0); }
.navbar .collapse.show{height: calc(100vh - 70px);}
.navbar-inside{height: calc(100vh - 70px);padding: 70px 15px; display: flex;flex-flow: column;text-align: center;overflow-y: auto;}
.navbar-expand-xl .navbar-nav .nav-item+.nav-item{margin-top: 30px;}
.navbar-expand-xl .navbar-nav .nav-link {font-size: 24px;font-weight: 400;line-height:55px;padding: 0;position: relative;color: var(--black);}
.navbar-expand-xl .navbar-nav .nav-item.active .nav-link{font-weight: 600;}
.navbar-toggler:focus{box-shadow: none;}
.navbar-brand {width: 160px;}
.header-btn{padding: 12px 15px;}
.navbar-expand-xl .navbar-nav .nav-item{margin: 0;}



}

@media (max-width:991.98px){
.header-btn{font-size: 16px;padding: 16px;}
.nic-item:last-child{margin-top: 10px;}
.header-page-link {color: var(--black);font-size: 16px;font-weight: 400;line-height: 50px;margin-right: 0;margin-bottom: 20px;}

}
@media (max-width:575.98px){
.navbar-brand {width: 129px;}
.header-btn {min-width: 90px;}
}
