.table-responsive {border: 1px solid #E6E9F5 !important; border-radius: 4px;}
.custom-table th {padding: 34px 30px;font-size: 18px;font-weight: 700;line-height: 1.4;color: rgb(0 0 0 / 60%);text-align: center;vertical-align: middle;white-space: nowrap;}
.custom-table td {padding: 27px 32px;font-size: 18px;font-weight: 500;line-height: 1.4;}
.custom-table .table-icon { width: 19px;height: 19px;display: flex;margin: 0 auto;}
.custom-table .table-icon img {width: 100%;height: 100%;object-fit: contain;}
.custom-table .table-head-icon {width: 154px;margin:0 auto;}
.custom-table .table-head-icon img {width: 100%;height: 100%;object-fit: contain;}
.bg-gray{background:#E6E9F5 !important;}
.featured-body {margin-top: 55px; position: relative;}
.custom-table tr td:nth-child(2) {background: #E6E9F5;}
.custom-table tr th:nth-child(2) {background: #E6E9F5;}
.custom-table .table-head {font-size: 24px;margin-bottom: 0;line-height: 1.4;text-align: left;}
.custom-table thead tr th:first-child {min-width: 210px !important; font-size: 37px;}
.featured-bg-img {position: absolute;width: 100%;top: 0;right: -19px;display:none;left: 0; z-index: -1;}
.featured-bg-img img {width: 100%;height: 100%;object-fit: cover;}
.custom-table  td {border-right: 1px solid #E6E9F5; border-top: 1px solid #E6E9F5;}
.custom-table  th {border-right: 1px solid #E6E9F5;}
.custom-table  th:last-child {border-right:none;}
.custom-table  td:last-child {border-right:none;}
.table-responsive {border: 1px solid #E6E9F5 !important; border-radius: 4px; border-collapse: separate !important;}
@media (max-width:767.98px){
.custom-table .table-head-icon {width: 72px; height: 28px;}
.custom-table td { height: 40px; padding: 20px; font-size: 14px;}
.custom-table th h4 { font-size: 22px;}
.custom-table th {font-size: 14px;}
.featured-body { width: calc(100% + 22px); }
.featured-bg-img {display:flex;}
.custom-table th { padding: 34px 19px; }
}