.services-text-box{width: 781px;}
.services-list{width: calc(100% + 20px);margin-left: -10px; margin-bottom: 40px;}
.services-item{width: 25%;padding: 0 10px;margin-bottom: 20px;}
.services-box{padding: 31px 30px;background: var(--white);border-radius: 10px;}
.services-box h5{font-size: 18px; font-weight: 600;line-height: 1.6;margin-bottom: 0;}
.services-box h5 span{color: var(--red);}

@media (max-width:991.98px){
.services-text-box{width: 100%;}
.services-item{width: 50%;}
}

@media (max-width:767.98px){
    .services-item{width: 100%;}
}